[submodule "repos/source/ClickHouse-v26.3.10.62-lts"]
	path = repos/source/ClickHouse-v26.3.10.62-lts
	url = https://github.com/ClickHouse/ClickHouse.git
	ignore = dirty

[submodule "repos/source/oceanbase-v4.5.0_CE"]
	path = repos/source/oceanbase-v4.5.0_CE
	url = https://github.com/oceanbase/oceanbase.git
	ignore = untracked

[submodule "repos/source/obstack-master"]
	path = repos/source/obstack-master
	url = https://github.com/oceanbase/obstack.git
	ignore = untracked

[submodule ".mira/research-sources/oceanbase-kill-60/oceanbase-v4.5.0_CE/libunwind"]
	path = .mira/research-sources/oceanbase-kill-60/oceanbase-v4.5.0_CE/libunwind
	url = https://github.com/libunwind/libunwind.git
	ignore = untracked

[submodule "repos/source/doris-master"]
	path = repos/source/doris-master
	url = https://github.com/apache/doris.git
	ignore = dirty
