<clickhouse>
    <logger>
        <level>information</level>
        <console>false</console>
        <log>logs/server.log</log>
        <errorlog>logs/error.log</errorlog>
    </logger>

    <http_port>18123</http_port>
    <tcp_port>19000</tcp_port>
    <mysql_port>0</mysql_port>
    <postgresql_port>0</postgresql_port>
    <interserver_http_port>19009</interserver_http_port>

    <listen_host>127.0.0.1</listen_host>
    <path>data/</path>
    <tmp_path>tmp/</tmp_path>
    <user_files_path>user_files/</user_files_path>
    <format_schema_path>format_schemas/</format_schema_path>
    <mlock_executable>false</mlock_executable>

    <send_crash_reports>
        <enabled>false</enabled>
    </send_crash_reports>

    <users>
        <default>
            <password/>
            <networks>
                <ip>127.0.0.1</ip>
                <ip>::1</ip>
            </networks>
            <profile>default</profile>
            <quota>default</quota>
            <access_management>1</access_management>
            <named_collection_control>1</named_collection_control>
        </default>
    </users>

    <profiles>
        <default>
            <allow_introspection_functions>1</allow_introspection_functions>
        </default>
    </profiles>

    <quotas>
        <default/>
    </quotas>

    <user_directories>
        <users_xml>
            <path>config/config.xml</path>
        </users_xml>
        <local_directory>
            <path>access/</path>
        </local_directory>
    </user_directories>
</clickhouse>
